Bonjour,<br />

<% if @user.recipient? %>
  <p>
&nbsp;&nbsp;Vous recevez ce courriel car vous avez été identifié(e) en tant que bénéficiaire du marché passé entre <%= Setting.company_name %> et <%= @user.client.name %>.
  </p>
  <%= render :partial => 'user_access' %>
<% else %>
  <p>
&nbsp;&nbsp;Vous recevez ce courriel car vous avez désormais accès à notre outil de travail en ligne développé pour vous par <%= Setting.company_name %>.<br /><br />
   <%#On doit faire ça car la méthode link_to ne semble pas fonctionner %>
   Vous pouvez accéder au portail de <%= %Q[<a href="http://#{Setting.service_site}"]%>><%= Setting.service_name %></a>.
  </p>
<% end %>
<p>
&nbsp;&nbsp;Vos codes d'accès sont :<br />
   <ul>
    <li>identifiant : <%= @user.login %></li>
    <li>mot de passe: <%= @user.pwd %></li>
   </ul>
</p>
&nbsp;&nbsp;Pensez à personnaliser votre mot de passe dès votre première connexion.<br />
<%= render(:partial => 'end_mail')%>
