<h1><%= _('Settings') %></h1>

<% red_star = %q[<span style="color: red;">*</span>] %>

<% form_tag :action => 'edit', :id => 'main_form' do %>
<div class="subcolumns">
 <div class="c50l">
  <div class="show">
   <h2><%= _('Mail settings') %></h2>
   <table>
    <tr>
     <th><label for="settings_email_server"><%=_('Server')%><%= red_star %></label></th>
     <td><%= text_field_tag 'settings[email_server]', Setting.email_server %></td>
	</tr><tr>
     <th><label for="settings_email_port"><%=_('Port')%><%= red_star %></label></th>
     <td><%= text_field_tag 'settings[email_port]', Setting.email_port %></td>
    </tr><tr>
     <th><label for="settings_email_domain"><%=_('Domain')%><%= red_star %></label></th>
     <td><%= text_field_tag 'settings[email_domain]', Setting.email_domain %></td>
    </tr><tr>
     <th><label for="settings_email_charset"><%=_('Charset')%><%= red_star %></label></th>
     <td><%= text_field_tag 'settings[email_charset]', Setting.email_charset %></td>
    </tr><tr>
     <th><label for="settings_email_administrators"><%=_('Administrators email')%></label></th>
     <td><%= text_field_tag 'settings[email_administrators]', Setting.email_administrators %></td>
    </tr>
    <% if ENV["RAILS_ENV"] == 'development'%>
    <tr>
     <th><label for="settings_email_mainteners"><%=_('Mainteners email')%></label></th>
     <td><%= text_field_tag 'settings[email_mainteners]', Setting.email_mainteners %></td>
    </tr>
    <% end %>
    <tr>
     <th><label for="settings_email_contact"><%=_('Contact email')%></label></th>
     <td><%= text_field_tag 'settings[email_contact]', Setting.email_contact %></td>
    </tr><tr>
     <th><label for="settings_email_noreply"><%=_('Noreply email')%></label></th>
     <td><%= text_field_tag 'settings[email_noreply]', Setting.email_noreply %></td>
    </tr>
   </table>
  </div>
  <div class="show">
   <h2><%= _('Ldap settings') %></h2>
   <table>
    <tr>
     <th><label for="settings_ldap_enabled"><%=_('LDAP authentification for experts ?')%></th>
     <td>
      <%= hidden_field_tag 'settings[ldap_enabled]', 0 %>
      <%= check_box_tag 'settings[ldap_enabled]', 1, Setting.ldap_enabled? %>
     </td>
    </tr><tr>
     <th><label for="settings_ldap_host"><%= _('Server') %></th>
     <td><%= text_field_tag 'settings[ldap_host]', Setting.ldap_host %></td>
    </tr><tr>
     <th><label for="settings_ldap_port"><%= _('Port') %></th>
     <td><%= text_field_tag 'settings[ldap_port]', Setting.ldap_port %></td>
    </tr><tr>
     <th><label for="settings_ldap_filter"><%= _('Filter') %></th>
     <td><%= text_field_tag 'settings[ldap_filter]', Setting.ldap_filter %></td>
    </tr><tr>
     <th><label for="settings_ldap_binddn"><%= _('Binddn') %></th>
     <td><%= text_field_tag 'settings[ldap_binddn]', Setting.ldap_binddn %></td>
    </tr><tr>
     <th><label for="settings_ldap_basedn"><%= _('Basedn') %></th>
     <td><%= text_field_tag 'settings[ldap_basedn]', Setting.ldap_basedn %></td>
    </tr><tr>
     <th><label for="settings_ldap_protocal"><%= _('Protocol version') %></th>
     <td><%= text_field_tag 'settings[ldap_protocol]', Setting.ldap_protocol %></td>
    </tr>
   </table>
  </div>
  <p><%= red_star %> : <%= _('A restart will be needed') %></p>
 </div><div class="c50r">
  <div class="show">
   <h2><%= _('Company settings') %></h2>
   <table>
    <tr>
     <th><label for="settings_service_name"><%=_('Service name')%></label></th>
     <td><%= text_field_tag 'settings[service_name]', Setting.service_name %></td>
	</tr><tr>
     <th><label for="settings_service_site"><%=_('Service site')%></label></th>
     <td><%= text_field_tag 'settings[service_site]', Setting.service_site %></td>
	</tr><tr>
     <th><label for="settings_company_name"><%=_('Company name')%></label></th>
     <td><%= text_field_tag 'settings[company_name]', Setting.company_name %></td>
	</tr><tr>
     <th><label for="settings_company_site"><%=_('Company site')%></label></th>
     <td><%= text_field_tag 'settings[company_site]', Setting.company_site %></td>
	</tr>
   </table>
  </div>
  <div class="show">
   <h2><%= _('Customization') %></h2>
   <table>
    <tr><th><label for="settings_files_path"><%=_('Files storage')%><%= red_star %></label></th></tr>
    <tr><td><%= text_field_tag 'settings[files_path]', Setting.files_path, :size => 50 %></td></tr>
    <tr><th><label for="settings_help_new_issue"><%=_('Help on new issue')%></label></th></tr>
    <tr><td><%= text_field_tag 'settings[help_new_issue]', Setting.help_new_issue, :size => 50 %></td></tr>
    <tr><th><label for="settings_help_life_cycle"><%=_("Help on issues' life cycle")%></label></th></tr>
    <tr><td><%= text_field_tag 'settings[help_life_cycle]', Setting.help_life_cycle, :size => 50 %></td></tr>
    <tr><th><label for="settings_help_status"><%=_("Help on issues' status")%></label></th></tr>
    <tr><td><%= text_field_tag 'settings[help_status]', Setting.help_status, :size => 50 %></td></tr>
    <tr><th><label for="settings_help_severity"><%=_("Help on issues' severities")%></label></th></tr>
    <tr><td><%= text_field_tag 'settings[help_severity]', Setting.help_severity, :size => 50 %></td></tr>
   </table>
  </div>
 </div>
</div>
  <%= submit_tag _('Validate') %>
<% end %>

<%= link_to_show_and_list(@contract) %>
