<div class="issue_tab_content" name="issue_tab_content">
<%= image_spinner %>
<% references = @issue.issue_references %>

<% if references.empty? %>
  <p><%= _("Your issue has no links to other issues.") %></p>
<% else %>
 <table class="full">
  <tr>
    <th>&nbsp;</th>
    <th><%= _('Issue') %></th>
    <th><%= _('Status') %></th>
    <th>&nbsp;</th>
  </tr>
  <% references.each do |reference| %>
   <% tr_id = "reference_#{reference.id}" %>
   <tr class="<%= cycle('even', 'odd') %>" id="<%=tr_id%>">
    <td>#<%= reference.linked_issue_id %></td>
    <td><%= link_to_issue(reference.linked_issue, :limit => 80) %></td>
    <td><%= _(reference.linked_issue.statut.to_s) %></td>
    <td><%= link_to_remote_delete(issue_reference_path(reference), tr_id) %></td>
   </tr>
  <% end %>
 </table>
<% end %>
</div>