<% options = { :method => :get, :update => 'col1_content',
  :url => monthly_reporting_path,
  :before => "Element.show('spinner')",
  :success => "Element.hide('spinner')" } %>

<% form_remote_tag(options.dup.update(:html => {
      :id => 'filters', :name => 'filters'})) do %>


  <%= div_toggle _('Filters'), 'menu_filters', :class => "menu_title" %>
  <ul class="menu" id="menu_filters">
    <li><b><%= _('By contract') %></b><br />
        <%= select_filter(@contracts, :contract) %></li>
   <% if @session_user.engineer? %>
    <li><b><%= _('By team') %></b><br />
        <%= select_filter(@teams, :team) %></li>
   <% end %>
    <li><b><%= _('Period') %></b><br />
        <%= select_month(Time.today, {}, :style => 'width: 45%') %>
        <%= select_year(Time.today, {}, :style => 'width: 45%') %></li>

  </ul>


<% end %>

<%= observe_form 'filters', options %>